.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%; 
  text-align: center;
  transition: transform 0.4s;
}
input:hover{
    transform: scale(1.007);
}

input[type='text'],
input[type='password'],

.login-content button {
  margin: 10px auto;
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-content button {
  background-color: #416ea8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.login-onclose:hover {
  background-color: #df6e6e;
  transform: scale(1.01);
}
.login-verify:hover{
  background-color:  rgba(42, 155, 57, 0.8);
  transform: scale(1.01);
}

